.o_contact_section {
  position: relative;
  margin: $spacing_12 0;
  h2 {
    font-size: 64px;
  }
  .o_contact_btn {
    position: absolute;
    top: 200px;
    right: 20px;
    animation-name: wobble;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}

@keyframes wobble {
  0% {
    right: 20px;
  }
  50% {
    right: 50px;
  }
  100% {
    right: 20px;
  }
}